.popup {
  padding: 32px 20px;
  margin-top: -20px;
  border-radius: 2px;
  margin: 0 auto;
  height: 680px;
}

.popup label {
  font-family: "Lemonmilk Bold";
  color: #747474;
}

.dialogTitle h2 {
  color: #333;
}

.successMessage,
.failedMessage {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 800px;
  z-index: 999;
}

.formControl {
  width: 100%;
}

.flexSection {
  width: 100%;
}

.flexSection div:last-child {
  margin: 10px 0px;
  width: 50%;
  float: right;
}

.checkboxLabel {
  color: #1B2021;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 767px){
  .popup {
    height:610px;
  }

  .successMessage {
    left: 0px;
    width: 100%;
  }

  .checkboxLabel {
    line-height: 16px;
    font-size: 12px;
  }
}
