.main {
  background: url('/main-bg.png');
  background-repeat: no-repeat;
  background-position-x: 100%;
  padding-top: 60px;
  background-size: 90%;
}

.item:first-child {
  width: 68%;
}

.item p {
  font-family: "Lemonmilk";
  margin: 22px auto;
  color: var(--text-color);
  font-size: 21px;
  font-weight: 500;
}

.item h3 {
  font-family: "Lemonmilk Bold";
  font-weight: 900;
  font-size: 62px;
  line-height: 4.5rem;
}

.item h3.primary {
  color: var(--primary-color);
}

.item h3.secondary {
  text-shadow: -2px 2px var(--primary-color), -2px -2px var(--primary-color), 2px -2px var(--primary-color), 2px 2px var(--primary-color);
  color: var(--background-light);
}

.item .button {
  color: var(--background-light);
  width: 360px;
  font-weight: 600;
  box-shadow: var(--left-box-shadow);
}

.item .button:hover {
  box-shadow: var(--left-box-shadow);
}

@media screen and (max-width: 767px){
  .main {
    background-size: 220%;
    padding: 10px;
    background-position-x: 86%;
    background-position-y: -28%;
    padding-top: 90px;
  }

  .item:first-child {
    width: 100%;
  }

  .item h3 {
    font-size: 34px;
    line-height: 48px;
  }

  .item h3:first-child {
    margin-top: 180px;
  }

  .item p {
    margin: 20px auto;
    font-size: 16px;
  }

  .item .button {
    width: 100%;
  }
}
