.contato {
  position: relative
}

.contato:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/splashes.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-position-y: -40px;
  padding: 140px 0px;
  background-size: 50%;
  z-index: -1;
}

.contato h3 {
  font-family: "Lemonmilk Bold";
  font-weight: 900;
  font-size: 46px;
  line-height: 4.5rem;
  color: var(--primary-color);
}

.flexSection {
  display: flex;
  justify-content: space-between;
  max-height: 580px;
  overflow: hidden;
}

.flexSection .item:first-child {
  width: 56%;
}

.flexSection .item:last-child {
  width: 40%;
}

.flexSection .item:last-child img{
  margin-left: 0px;
  object-fit: cover;
  height: 100%;
}

@media screen and (max-width: 767px){
  .contato {
    padding: 10px;
  }

  .contato:before {
    background-size: 100%;
    background: none;
  }

  .contato h3 {
    text-align: center;
  }

  .flexSection {
    flex-direction: column;
    max-height: none;
  }

  .flexSection .item:first-child {
    width: 100%;
    background: #fff;
  }

  .flexSection .item:last-child {
    display: none;
  }
}
