.secondSection {
  margin-top: -10px;
  margin-bottom: -80px;
}

.item:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item h3 {
  font-family: "Lemonmilk Bold";
  font-weight: 900;
  font-size: 60px;
  line-height: 4.5rem;
}

.item h3.primary {
  color: var(--primary-color);
  margin-top: -180px;
}

.item h3.secondary {
  text-shadow: -2px 2px var(--primary-color), -2px -2px var(--primary-color), 2px -2px var(--primary-color), 2px 2px var(--primary-color);
  color: var(--background-light);
}

.item img {
  position: relative;
  max-width: 100%;
}

@media screen and (max-width: 767px){
  .secondSection {
    margin: 0px;
    padding: 10px;
    margin-bottom: -40px;
  }

  .item h3 {
    font-size: 34px;
    line-height: 48px;
  }

  .item h3.primary {
    margin-top: 40px;
    
  }

  .item:last-child {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .item:last-child img {
    margin-left: -48px;
    transform: scale(1.2);
    max-width: 100%;
    height: auto;
  }
}
