.secondSection {
  margin-top: -10px;
}

.item:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item h3 {
  font-family: "Lemonmilk Bold";
  font-weight: 900;
  font-size: 60px;
  line-height: 4.5rem;
}

.item h3.primary {
  color: var(--primary-color);
  margin-top: -180px;
}

.item h3.secondary {
  text-shadow: -2px 2px var(--primary-color), -2px -2px var(--primary-color), 2px -2px var(--primary-color), 2px 2px var(--primary-color);
  color: var(--background-light);
}

.item img {
  position: relative;
  max-width: 100%;
}
