.footer {
  background: #F7F7F7;
  padding: 40px 10px 0px 10px;
  margin-top: 100px;
}

.footer .flexSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .item p {
  margin: 10px auto;
}

.footer .item h3 {
  font-family: "Lemonmilk Bold";
  font-weight: 900;
  font-size: 21px;
  line-height: 30px;
  color: var(--text-color);
}

.footer .social {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin: 20px auto;
}

.footer .social img {
  cursor: pointer;
  transition: filter 0.4s ease;
}

.footer .social img:hover {
  filter: brightness(250%);
}

.footer .whatsapp {
  display: flex;
  align-items: center;
  margin: 20px auto;
}

.footer .whatsapp h3 {
  margin-left: 10px;
  color: #54595F;
  font-size: 32px;
}

.footer .whatsapp h3:hover {
  text-decoration: underline !important;
}

.posFooter {
  padding: 20px 10px;
  text-align: left;
}

.posFooter p {
  font-size: 15px;
  color: var(--text-color);
  font-weight: 600;
}

@media screen and (max-width: 767px){
  .footer .flexSection {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer .item {
    margin: 20px 0px;
  }

  .footer .item p {
    margin-top: 26px;
  }

  .footer .whatsapp img {
    margin-top: 20px;
    margin-left: 20px;
  }

  .posFooter:before {
    margin: 20px auto;
  }
}
