.depoimentos {
  padding: 40px;
  margin: 40px auto;
  overflow: hidden;
  margin-top: -40px;
  background: url('/carousel-bg.png');
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
}

.depoimentos h3 {
  font-family: "Lemonmilk Bold";
  font-weight: 900;
  font-size: 32px;
  line-height: 4.5rem;
  color: var(--primary-color);
  text-align: center;
  margin: 20px auto;
}

.testimony {
  cursor: default;
  max-width: 500px;
  margin: 20px auto;
}

.testimony .title {
  text-align: right;
}

.testimony .title h6 {
  font-weight: 600;
  font-size: 20px;
}

.carouselProvider {
  position: relative;
  height: 600px;
}

.slideItem {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  background: transparent;
  height: 600px;
}

.slideItem .thumb {
  margin-bottom: -4px;
  width: 45%;
}

.slideItem .thumb img {
  position: relative;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideItem .content{
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  align-items: flex-start;
  text-align: left;
  width: 52%;
  color: var(--white-light);
}

.slideItem .content p {
  font-size: 21px;
}

.slideItem .content h3 {
  margin: 0px auto;
  line-height: 42px;
  text-align: left;
  color: var(--white-light);
}

.slideItem .content h3:first-child {
  color: var(--white-light);
  font-size: 20px;
}

.slideItem .footer p {
  color: var(--white-light);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-top: 8px;
  font-size: 21px;
}

.button:selected,
.button:active,
.button:focus {
  border: none;
}

.button {
  position: absolute;
  top: 36%;
  background: var(--white-light);
  border: none;
  padding: 8px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 25px 50px -12px;
  color: var(--primary-color);
}

.button.next {
  right: 0;
}

.button.prev {
  left: 0;
}

@media screen and (max-width: 800px){
  .depoimentos {
    padding: 40px 20px;
    background-position: top right;
    background-size: cover;
  }

  .testimonial {
    flex-direction: column-reverse !important;
  }

  .depoimentos h3 {
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    margin-top: 20px;
  }

  .carouselProvider {
    height: 1080px;
  }

  .slideItem {
    flex-direction: column;
    width: 100%;
    height: 900px;
  }

  .slideItem .thumb {
    width: inherit;
  }

  .slideItem .content {
    padding: 20px 10px;
    width: 100%;
  }

  .slideItem .content div:nth-child(2){
    margin: 20px auto;
  }

  .button {
    top: 61%;
  }

  .button.prev {
    left: -20px;
  }

  .button.next {
    right: -20px;
  }

}
