.depoimentos {
  padding: 40px;
  margin: 40px auto;
  overflow: hidden;
  margin-top: -40px;
  background: url('/carousel-bg.png');
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
}

.depoimentos h3 {
  font-family: "Lemonmilk Bold";
  font-weight: 900;
  font-size: 64px;
  line-height: 4.5rem;
  color: var(--primary-color);
  text-align: center;
  margin: 20px auto;
}

.testimony {
  cursor: default;
  max-width: 500px;
  margin: 20px auto;
}

.testimony .title {
  text-align: right;
}

.testimony .title h6 {
  font-weight: 600;
  font-size: 20px;
}

.carouselProvider {
  position: relative;
  height: 600px;
}

.slideItem {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  background: transparent;
  height: 510px;
}

.slideItem .thumb {
  margin-bottom: -4px;
  width: 45%;
}

.slideItem .thumb img {
  position: relative;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideItem .content{
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: flex-start;
  text-align: left;
  width: 52%;
  color: var(--white-light);
}

.slideItem .content p {
  font-size: 18px;
  font-family: "calibri-7", sans-serif;
  line-height: 1.5rem;
}

.slideItem .content p.title {
  font-weight: 600;
  font-size: 21px;
  font-family: "calibri-7", sans-serif;
  margin-bottom: 10px;
}

.slideItem .content h3 {
  margin: 0px auto;
  line-height: 42px;
  text-align: left;
  color: var(--white-light);
  font-size: 40px;
}

.slideItem .content h3:first-child {
  color: var(--white-light);
  font-size: 20px;
}

.slideItem .footer p {
  color: var(--white-light);
  font-family: "calibri-7", sans-serif;
  font-weight: 700 !important;
  margin-top: 4px;
  font-size: 18px;
}

.slideItem .footer .position h3{
  font-family: "Lemonmilk Bold";
  font-size: 36px;
  margin-top: 40px;
}

.slideItem .footer .position {
  position: relative;
}

.slideItem .footer .position .buttons {
  margin-top: -70px;
  position: absolute;
  left: 200px;
  display: flex;
}

.slideItem .footer .position .buttons button {
  border: none;
  margin: 0px 0px;
  color: var(--white-light);
  background: var(--primary-color);
}

.slideItem .footer .position .buttons button svg {
  font-size: 80px;
}

@media screen and (min-width: 1400px){
  .depoimentos{
    background-position-x: center;
  }
}

@media screen and (max-width: 1100px){
  .slideItem {
    height: 600px;
    width: 100%;
  }

  .slideItem .footer .position .buttons {
    left: 120px;
  }
}

@media screen and (max-width: 900px){
  .slideItem .content {
    padding: 10px;
  }

  .slideItem .footer .position .buttons {
    margin-top: -76px;
  }

  .slideItem {
    flex-direction: column;
  }

  .slideItem .thumb {
    width: 100%;
  }

  .slideItem .thumb img {
    width: 100%;
    max-height: 560px;
  }

  .carouselProvider {
    height: 960px;
    width: 100%;
  }

  .slideItem .content {
    height: 760px;
    width: 100%;
    float: right;
    padding: 20px;
  }

  .slideItem .footer .position .buttons {
    left: 50%;
  }
}

@media screen and (max-width: 550px){
  .depoimentos {
    padding: 40px 0px;
    background-position: top right;
    background-size: cover;
    margin: 0px;
  }

  .testimonial {
    flex-direction: column-reverse !important;
  }

  .depoimentos h3 {
    font-size: 32px;
    line-height: 36px;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
  }

  .carouselProvider {
    height: 1080px;
  }

  .slideItem {
    flex-direction: column;
    width: 100%;
    height: 900px;
  }

  .slideItem .thumb {
    width: 90%;
  }

  .slideItem .content {
    padding: 20px 10px;
    width: 90%;
    margin-left: 36px;
    margin-top: -100px;
    z-index: 2;
    justify-content: center;
  }

  .slideItem .content div:nth-child(2){
    margin: 20px auto;
  }

  .slideItem .content div:nth-child(2) p{
    font-size: 18px;
    font-weight: 500;
  }

  .slideItem .content h3:last-child {
    font-size: 30px;
  }

  .slideItem .footer .position .buttons {
    left: 140px;
    margin-top: -80px;
  }

  .slideItem .footer .position .buttons button {
    margin: 0px 0px;
  }

}
